// import google fonts
@import 'font/fonts';
@import 'font/simple-line-icons';
@import 'font/weather-icons';

@import "mixins/responsive";
@import "mixins/clearfix";
@import "mixins/css3";
@import "mixins/elements-color-custom";

@import "base/variables";
@import "base/general";
@import "metisMenu/metisMenu";

@import "partials/tabs";
@import "partials/badges";
@import "partials/layout";
@import "partials/card";
@import "partials/navigation";
@import "partials/leftbar";
@import "partials/rightbar";
@import "partials/megamenu";
@import "partials/forms";
@import "partials/authentication";
@import "partials/buttons";
@import "partials/elements";
@import "partials/accordion";
@import "partials/elements-bootstrap";
@import "partials/charts";
@import "partials/social-brands";
@import "partials/typography";
@import "partials/helpers";
@import "partials/mediaobject";
@import "partials/formwizard";
@import "partials/tables";
@import "partials/flipcards";

@import "partials/summernote";
@import "partials/ekeditor";

@import "pages/widgets";
@import "pages/chatapp";
@import "pages/inbox";
@import "pages/page-profile";
@import "pages/timeline";
@import "pages/calendar";
@import "pages/pricing";
@import "pages/invoice";

@import "pages/news";
@import "pages/social";
@import "pages/rtl";
@import "pages/blog";

// Color skins scss
@import 'skins/cyan';
@import 'skins/green';
@import 'skins/orange';
@import 'skins/blush';
@import 'skins/indigo';
@import 'skins/red';
@import 'skins/light';

#dataTableData_wrapper {
    .row:nth-child(2) {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}

#dataTableData {
    display: block;
        width: 100% !important;
        overflow-x: auto;
}

#dataTableData_wrapper {
    .row:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
        .col-sm-12 {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.pageloader {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(34, 37, 42, 0.52);
    .loader {
        margin: 0 auto;
        width: 70px;
        height: 50px;
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        color: white;
        img {
            -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear;
        }
    }
}
