/* Helpers */
.bg-info        {background: $info; color: rgba($white,0.7);}
.bg-red         {background: $red; color: rgba($white,0.7);}
.bg-purple      {background: $purple; color: rgba($white,0.7);}
.bg-orange      {background: $orange; color: rgba($white,0.7);}
.bg-green       {background: $green; color: rgba($white,0.7);}
.bg-blue        {background: $blue; color: rgba($white,0.7);}
.bg-blush       {background: $blush; color: rgba($white,0.7);}
.bg-pink        {background: $pink; color: rgba($white,0.7);}
.bg-indigo      {background: $indigo; color: rgba($white,0.7);}
.bg-azura       {background: $azura; color: rgba($white,0.7);}
.bg-white       {background: $white; color: rgba($white,0.7);}
.bg-dark        {background: $dark; color: rgba($white,0.7);}
.bg-cyan        {background: $cyan; color: rgba($white,0.7);}

.new-purple     {background: $new-purple;}
.new-blush      {background: $new-blush;}
.new-indigo     {background: $new-indigo;}
.new-cyan       {background: $new-cyan;}
.new-yellow     {background: $new-yellow;}

.l-green        {background: linear-gradient(45deg, #9ce89d, #cdfa7e) !important;}
.l-pink         {background: linear-gradient(45deg, #ffc0cb, #fbc1cb) !important;}
.l-turquoise    {background: linear-gradient(45deg, #00ced1, #08e5e8) !important;}
.l-cyan         {background: linear-gradient(45deg, #49cdd0, #00bcd4) !important;}
.l-khaki        {background: linear-gradient(45deg, #f0e68c, #fdf181) !important;}
.l-coral        {background: linear-gradient(45deg, #f08080, #f58787) !important;}
.l-salmon       {background: linear-gradient(45deg, #ec74a1, #fbc7c0) !important;}
.l-blue         {background: linear-gradient(45deg, #72c2ff, #86f0ff) !important;}
.l-seagreen     {background: linear-gradient(45deg, #8ed8ec, #85f7b5) !important;}
.l-amber        {background: linear-gradient(45deg, #fda582, #f7cf68) !important;}
.l-blush        {background: linear-gradient(45deg, #dd5e89, #f7bb97) !important;}
.l-parpl        {background: linear-gradient(45deg, #a890d3, #edbae7) !important;}
.l-slategray    {background: linear-gradient(45deg, #708090, #7c8ea0) !important;}

// text color 
.text-info      {color: $info;}
.text-red       {color: $red;}
.text-purple    {color: $purple;}
.text-orange    {color: $orange;}
.text-green     {color: $green;}
.text-blue      {color: $blue;}
.text-blush     {color: $blush;}
.text-pink      {color: $pink;}
.text-indigo    {color: $indigo;}
.text-azura     {color: $azura;}
.text-cyan      {color: $cyan;}
.text-white     {color: $white;}
.text-dark      {color: $dark;}

//Margin
@for $i from -25 through 25 {
    .m-l-#{$i * 5} {
        margin-left: #{$i * 5}px;
    }

    .m-t-#{$i * 5} {
        margin-top: #{$i * 5}px;
    }

    .m-r-#{$i * 5} {
        margin-right: #{$i * 5}px;
    }

    .m-b-#{$i * 5} {
        margin-bottom: #{$i * 5}px;
    }
}
.margin-0 {
    margin: 0 !important;
}
@for $i from 0 through 25 {
    .p-l-#{$i * 5} {
        padding-left: #{$i * 5}px;
    }

    .p-t-#{$i * 5} {
        padding-top: #{$i * 5}px;
    }

    .p-r-#{$i * 5} {
        padding-right: #{$i * 5}px;
    }

    .p-b-#{$i * 5} {
        padding-bottom: #{$i * 5}px;
    }
}
.padding-0 {
    padding: 0 !important;
}
@for $i from 5 through 49 {
    .font-#{$i + 1} {
        font-size: #{$i + 1}px;
    }
}

.align-left     {text-align: left;}
.align-center   {text-align: center;}
.align-right    {text-align: right;}
.align-justify  {text-align: justify;}

.border-right,
.border-top,
.border-left,
.border-bottom{
    border-color: $border-color !important;
}
.w20{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.w30{
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.w35{
    width: 35px;
    height: 35px;
}
.w40{
    width: 40px;
}
.w60{
    width: 60px;
}
.w80{
    width: 80px;
}
.w100{
    width: 100px;
}
.w150{
    width: 150px;
}
.w200{
    width: 200px;
}
.w350{
    width: 350px;
}

.inlineblock {display: inline-block;}
.displayblock {display: block;}
.displaynone {display: none; }
.overflowhidden{overflow: hidden;}
.z-index{ z-index: 9999;}
// hr{ border-top: 1px solid rgba(255,255,255,.1)}
hr{ border-top: 1px solid rgb(210, 210, 210) }

.p-10{padding: 10px !important;}
.p-15{padding: 15px !important;}
.p-20{
    padding: 20px !important;
}
.p-25 {
    padding: 25px !important;
}
.font300{
    font-weight: $font-weight-300;
}
.font600{
    font-weight: $font-weight-600;
}
.font700{
    font-weight: $font-weight-700;
}

.h5{
    margin: 0;
    font-size: $font-size;
    font-weight: $font-weight-700;
}
.h6{
    margin: 0;
    font-size: $font-size-xsmall;
    text-transform: uppercase;
}

.avatar{
    border: 2px solid $gray-600;
    &.sm{
        width: 35px;
        height: 35px;
    }
    &.md{
        width: 65px;
        height: 65px;
    }
    &.lg{
        width: 100px;
        height: 100px;
    }
}
.bor2 {
    border-bottom: 1px solid #999999;
}